In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [0]:
from google.colab import files
uploaded = files.upload()

In [8]:
melbourne_data =pd.read_csv('melb_data.csv')
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [17]:
melbourne_data=melbourne_data.dropna(axis=0)
y=melbourne_data.Price
melbourne_features=['Rooms','Bathroom','Landsize','Lattitude','Longtitude']
x=melbourne_data[melbourne_features]
x.describe()

           Rooms   Bathroom     Landsize  Lattitude  Longtitude
count  60.000000  60.000000    60.000000  60.000000   60.000000
mean    2.716667   1.566667   251.133333 -37.777957  144.939105
std     0.783120   0.620734   244.073028   0.048900    0.054444
min     1.000000   1.000000     0.000000 -37.848100  144.867900
25%     2.000000   1.000000   123.000000 -37.808125  144.878975
50%     3.000000   1.500000   165.500000 -37.801550  144.952150
75%     3.000000   2.000000   266.750000 -37.723775  144.995400
max     6.000000   3.000000  1063.000000 -37.716400  145.000400

In [10]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2         1       156   -37.8079    144.9934
2      3         2       134   -37.8093    144.9944
4      4         1       120   -37.8072    144.9941
6      3         2       245   -37.8024    144.9993
7      2         1       256   -37.8060    144.9954

In [11]:
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(x,y)
print("Making predictions for the following 5 houses")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2         1       156   -37.8079    144.9934
2      3         2       134   -37.8093    144.9944
4      4         1       120   -37.8072    144.9941
6      3         2       245   -37.8024    144.9993
7      2         1       256   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [12]:
predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y,predicted_home_prices)

666.6666666666666

In [16]:
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)
melbourne_model = DecisionTreeRegressor()
melbourne_model.fit(train_x, train_y)
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

267100.0